<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <script src="../vue.js"></script>

    <style>
        .vermelho{
            color: red;
        }

        .verde{
            color: green;
        }

        .negrito{
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h3>
        key: faz com que o conjunto de elementos de um for tenham um chave separada
    </h3>

    <div id="app" >
        <ul>
            <li v-for="c in comentarios">
                    {{c.id}} - {{c.comentario}}
            </li>
        </ul>
        <button @click="adicionarElemento()">Adicionar</button>
        <button @click="removerElemento()">Removendo</button>
        <button @click="modificarElemento()">Atualizar</button>
        <ul>
            <li v-for="n in 10">
                    {{n}}
            </li>
        </ul>
        <ul >
            <li v-for="(curso, indice) in cursosArray">
                {{curso}} : {{indice}}
            </li>
        </ul>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TITULO</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(curso, chave) in cursos2">
                    <td>{{chave}}</td>
                    <td>{{curso.titulo}}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <ul>
            <li v-for="(pub, chave) in publicacoes" :key="pub.id" style="border: solid 1px; margin-bottom: 10px;">
                <div>
                    {{pub.publicacao}}
                    <hr>
                    <input type="text">
                </div>
            </li>
        </ul>
        <button @click="misturarArray()">Mistura pubs</button>
    </div>

    <script>
        const vm = new Vue({
            el: "#app",
            data: { 
                comentarios: [
                    {id: 1, comentario: "comentario 1"},
                    {id: 2, comentario: "comentario 2"},
                    {id: 3, comentario: "comentario 2"},    
                ],
                cursosArray: ["laravel", "web", "angular"], 
                cursos2: {
                    1000: {titulo: "VUE"},
                    10001: {titulo: "ANGULAR.JS"},
                },
                publicacoes: [
                    {id: 1, publicacao: "teste 1"},
                    {id: 2, publicacao: "teste 2"},
                    {id: 3, publicacao: "teste 3"},
                ]
            },
            methods: { 
                misturarArray(){
                    let misturado = []

                    misturado[0] = this.publicacoes[2]
                    misturado[1] = this.publicacoes[0]
                    misturado[2] = this.publicacoes[1]

                    this.publicacoes = misturado
                },
                adicionarElemento(){
                    this.comentarios.push({id: 4, comentario: "comentario 4"})
                },
                removerElemento(){
                    this.comentarios.pop()
                },
                modificarElemento(){
                    // this.$set(<array>, <chave>, <novo_valor>) // Atualiza o array em tempo real
                    this.$set(this.comentarios, 1, {id: 2, comentario: "comentario 2 - alterado"})
                }
            }
        });
    </script>
</body>
</html>